
# copy this file into /etc/systemd/system
# replace all occurences of /home/behn/jk_pylon with your venv dir
# make the service starting after reboot: systemctl enable jk_pylon
# show status: systemctl show jk_pylon
# stop it: systemctl stop jk_pylon
# if you change this script, reload systemctl: systemctl daemon-reload



[Unit]
Description=Launching JK_pylon converter
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=behn
WorkingDirectory=/home/behn//jk_venv
PermissionsStartOnly=true
#Environment=PYTHONPATH=/home/behn/jk_pylon_venv
#ExecStartPre=+/bin/bash -c 'ip link set can0 up type can bitrate 500000'
ExecStartPre=-/usr/sbin/ip link set can0 up type can bitrate 500000
ExecStart=/home/behn/jk_venv/jk_pylon_can.py

[Install]
WantedBy=multi-user.target

